<!-- <div class="row">
            <div class="card card-stats col-md-3" (click)="agentProfile()">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-globe text-success"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8" >
                    <div class="numbers">
                      <p class="card-category">Profile</p>
                      
                    </div>
                  </div>
                </div>
              </div>
             

              
            </div>
    
            <div class="card card-stats col-md-3" >
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-globe text-success"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8" >
                    <div class="numbers">
                      <p class="card-category">Managers</p>
                      
                    </div>
                  </div>
                </div>
              </div>
             
            </div>
            <div class="card card-stats col-md-3" (click)="agentAdmins()">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-globe text-success"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8" >
                    <div class="numbers">
                      <p class="card-category">Supervisors</p>
                      
                    </div>
                  </div>
                </div>
              </div>
             
            </div>
         
         
            <div class="card card-stats col-md-3" (click)="agentUsers()">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-money-coins text-success"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Officers</p>
                     
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="card card-stats col-md-3" (click)="agentDevices()">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-money-coins text-success"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Devices</p>
                     
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            
  </div> -->
<!-- <div class='row py-0 my-0'>
  <div class='col-md-12 text-center py-0 my-0'>
    <h5 class="my-0 py-0">{{AgentProfile.agent.name}}</h5>
  </div>

</div>
<hr class="my-1"/>
<div id="myDIV">
  <button class="btnn active" (click)='toggleActive(); agentProfile()'>Profile</button>
  <button class="btnn" (click)='toggleActive(); agentManagers()'>Managers</button>
  <button class="btnn" (click)='toggleActive(); agentSupervisors()'>Supervisors</button>
  <button class="btnn" (click)='toggleActive(); agentOfficers()'>Officers</button>
  <button class="btnn" (click)='toggleActive(); agentDevices()'>Devices</button>
</div> -->


  <!-- <div class="row py-1 my-2">
    <div class="col-md-12 py-0 my-0">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="false" (click)="agentProfile()">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="manager-tab" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false" (click)="agentManagers()">Managers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="supervisor-tab" data-toggle="tab" role="tab" aria-controls="supervisor" aria-selected="false" (click)="agentSupervisors()">Supervisors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="officer-tab" data-toggle="tab"  role="tab" aria-controls="contact" aria-selected="false" (click)="agentOfficers()">Officers</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" id="device-tab" data-toggle="tab"  role="tab" aria-controls="contact" aria-selected="false" (click)="agentDevices()">Devices</a>
        </li>
      </ul>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-md-12">    
        <router-outlet ></router-outlet>
    </div>
  </div> -->


  <!-- 
<div class='row'>
  <div class='col-md-12 text-center py-0 my-0'>
    <h5 class="my-0 py-0">{{AgentProfile.agent?.name}}</h5>
  </div>

</div>
<hr class="my-1"/>
<div id="myDIV">
  <button class="btnn active" (click)='toggleActive(); agentProfile()'>Profile</button>
  <button class="btnn" (click)='toggleActive(); agentManagers()'>Managers</button>
  <button class="btnn" (click)='toggleActive(); agentSupervisors()'>Supervisors</button>
  <button class="btnn" (click)='toggleActive(); agentOfficers()'>Officers</button>
  <button class="btnn" (click)='toggleActive(); agentDevices()'>Devices</button>
</div>


  <div class="row mt-2">
    <div class="col-md-12">    
        <router-outlet ></router-outlet>
    </div>
  </div>
   -->


<div class="container-fluid">
  <section class="row my-1" >
    <div class="col-md-12 py-0 my-0">
      <h5 class=" text-center py-0 my-0">{{AgentProfile?.agent.name}}</h5>
    </div>
  </section>
  <hr>


  

  <section class="row  justify-content-center py-0 my-0"  id="myDIV">
    
      <button class=" btnn col-md-2 mx-1  active" (click)='toggleActive(); agentProfile()'>Profile</button>


      <button class="  btnn col-md-2 mx-1" (click)='toggleActive(); agentManagers()'> Managers</button>


      <button class=" btnn col-md-2  mx-1 " (click)='toggleActive(); agentSupervisors()'>Supervisors</button>


      <button class=" btnn col-md-2 mx-1 " (click)='toggleActive(); agentOfficers()'>Officers</button>


      <button class=" btnn col-md-2 mx-1"  (click)='toggleActive(); agentDevices()'>Devices</button>

  </section>
  <hr>


  <section class="row my-5">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </section>

</div>
  