<div class="row">
    <!-- <div class="col-md-3">
            <div class="card card-stats" (click)="createANewUserLink()">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-globe text-success"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8" >
                    <div class="numbers">
                      <p class="card-category"> Create Agent</p>
                      
                    </div>
                  </div>
                </div>
              </div>
             
            </div>
         
         
            <div class="card card-stats" (click)="ViewAllAgents()">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-money-coins text-success"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category"> Edit Agents</p>
                     
                    </div>
                  </div>
                </div>
              </div>
              
            </div> -->
            
        
    <!-- </div> -->
    <div class="col-md-12">
         
        <router-outlet ></router-outlet>
    </div>
  </div>
  