.card-title{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }


  td{
    padding:3px;
    z-index: 7;
}
/* .card{
  overflow-x: auto;
  overflow-y:hidden;
  
  } */

th, td {
 text-align: left;
}

.table{

 
 width: 100%;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #6BD098;
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6BD098; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #6BD098; 
  }

 


 .nav{
   width: 40%;
 }
 

  /* .search-box{

    background:#2f3640;


  }

  /* .search-box:hover > .search-txt{
    width: 240px;
    border-radius: 0;
    padding: 0 6px;
  } */
  /* .search-box.active{
   width: 240px;
   padding: 0 6px;
  }
  .search-btn{
    float: right;
    width:40px;
    height:40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-txt{
    border:none;
    background:none;
    outline: none;
    float: left;
    padding: 0;
    color:white;
    font-size:16px;
    transition: 0.4s;
    line-height: 40px;
    width: 240px;
    width: 0;


  } */

  .wrapper{
   height: 40px;
   width: 300px;
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   position: relative;


 }
 .wrapper .btn-1{
   position: absolute;
   right: 10px;
   height: 100%;
   width: 10%;
   color: #6BD098;

   line-height: 40px;
   font-size: 30px;
   font-weight: 500;
   border-radius: 5px;
   user-select: none;
   cursor: pointer;
   /* box-shadow: 5px 5px 30px rgba(0,0,0,.2); */
   transition: 0.7s cubic-bezier(0.68,-0.55,0.265,1.55);
 }
 .wrapper .btn-1:active{
   transform: scale(0.9);
 }
 #click:checked ~ .btn-1{
   height: 40px;
   width: 100px;
   opacity: 0;
   pointer-events: none;
 }
 .wrapper .field{
   height: 100%;
   width: 0%;
   opacity: 0;
   pointer-events: none;
   position: relative;
   transition: 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
 }
 #click:checked ~ .field{
   width: 100%;
   opacity: 1;
   pointer-events: auto;
 }
 .wrapper .field input{
   height: 100%;
   width: 100%;
   border: 2px solid #6BD098;
   border-radius: 5px;
   padding: 0 130px 0 15px;
   font-size: 20px;
   outline: none;
   /* box-shadow: 5px 5px 30px rgba(0,0,0,.2); */
 }
 .wrapper .field input::placeholder{
   color: #999;
   font-size: 15px;
 }
 .wrapper .field .btn-2{
   position: absolute;
   top: 50%;
   right: 0px;
   transform: translateY(-50%);
   /* font-size: 16px; */
   color: #fff;
   line-height: 40px;
   background: #6BD098;
   height: 40px;
   width: 100px;
   user-select: none;
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.3s ease;
 }
 .wrapper .field .btn-2:active{
   transform: translateY(-50%) scale(0.9);
 }
 .wrapper #click{
   display: none;
 }
