<div class="card card-user" >
    <div class="card-header">
      <h5 class="card-title">Assign User to  Device</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="AssigneEmployeeToDeviceForm" (ngSubmit)="AssigneEmployeeToDevice(AssigneEmployeeToDeviceForm.value)">
        <div class="row" hidden>
          <div class="col-md pr-1">
            <div class="form-group">
                <label for="macid">Mac Id</label>
                <input id="macid" disabled
                type="mac_id"  class="form-control" value={{Device?.mac_id}}>
              </div>
          </div>
        </div>  
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                  <span class="material-icons">
                      my_location
                      </span>
                <label>Assign To User</label>
                <select class="form-control" formControlName="employee_id" >
                  <option *ngFor='let employee of unAssignedUsers' [value]="employee.id">
                    {{ employee.first_name}} {{employee.last_name}}
                  </option>
                </select>
              </div>
            </div>
          </div> 

       
        <div class="row">
          <div class="update ml-auto mr-auto">
              
            <button type="submit" [disabled]="!AssigneEmployeeToDeviceForm.value.employee_id"  class="btn btn-success btn-round">
                <i class="nc-icon nc-globe text-default"></i>
                Assign User</button>
                <button type="button" (click)='Cancel()' class="btn btn-outline-success btn-round">
                  <i class="nc-icon nc-simple-remove text-default"></i>
                  Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>